{% extends 'Home/homeTemplate.html' %}
{% load static %}

{% block title%} Category {% endblock%}

{% block style %}
    <!--CSS Link-->
    <!-- <link rel="stylesheet" href="{% static 'category.css' %}"> -->
{% endblock %}

{% block page-nav-content %}
    <!-- All your code goes here -->

    <div class="dropdown col-12">
        <button class="btn btn-secondary dropdown-toggle float-end" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
          Language
        </button>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
            <li>
            {% for i in lang %}
            <a class="dropdown-item" value="{% set lang i.0 %}">{{i.1}}</a>
            {% endfor %}
            </li>
        </ul>
    </div>


    

{% block scripts %}
    <!--JS Files-->
{% endblock %}
{% endblock %}