{% extends 'Home/homeTemplate.html' %}
{% load static %}

{% block title%} Home {% endblock%}

{% block style %}
    <!-- <link rel="stylesheet" href="{% static 'home.css' %}"> -->
{% endblock %}

{% block page-nav-content %}

<div class="row mt-4 justify-content-center mb-3">
    <form action="/search/" method="get" class="col-6 input-group mb-3 w-50">
        <input type="text" id="search" name="search" class="form-control rounded-pill search-input" placeholder="Search" aria-label="search" aria-describedby="button-search"">
        <button class="btn btn-outline-secondary rounded-pill ml-ns search-icon-border" type="submit" id="button-search" data-bs-target="#exampleModal">
            <i class="bi bi-search">&#8203;</i>
        </button>
    </form>
</div>

{% if books %}
<div class="row mt-4 ps-5 pe-5">
    <h2 class="mb-3">Results</h2>
    
    {% for book in books %} 
    

    <div class="row mb-0">
        <div class="col-2"><img src="{{book.picture}}" alt="Book Cover" width="75"></div>
        <blockquote class="col-4 blockquote">
            <p class="mb-3"><a href="../../book/{{book.id}}">{{book.title}}</a></p>
            <footer class="blockquote-footer">
                <cite class="f-medium" title="Source Title">{{book.author}}</cite><br>
                {% ifnotequal book.availability book.issued %}
                <span class="badge rounded-pill bg-success f-tiny mt-2">Available</span>
                {% else %}
                <span class="badge rounded-pill bg-danger f-tiny">Not Available</span>
                {% endifnotequal %}
                <p class="font-weight-light font-italic f-tiny mt-1">ISBN: {{book.ISBN}}</p> 
            </footer>
        </blockquote>
        
        <div class="col-6 justify-content-start">
            <p class="text-break">{{book.description}}</p>
        </div>
    </div> 
    <hr>
    {% endfor %}
</div>

{% endif %}


  
            



{% endblock %}
