

.Topic{
position: relative;  
font-size: 2.5rem;
text-align: center;
text-decoration: underline;
text-underline-position: under;
font-family: "Times New Roman", Times, serif;
}

.subtopic{
    text-align: center;
    font-family: "Times New Roman", Times, serif;
}

.Para1{
    font-size: 1.1rem;
    font-family: "Times New Roman", Times, serif;
}

.subtopic1{
    font-size: 1rem;
    font-weight: bold;
    font-family: "Times New Roman", Times, serif;
}

.pic1{
    position: relative;
    left: 10px;
    top: 1rem;
}

.pic2{
    position: relative;
    left:25rem;
    top:-14rem;
}

.pic3{
    position: relative;
    left:50rem;
    top:-29rem;
}

.book1{
position: relative;  
font-size: 1.5rem;
left:135px;
top:-28rem;
font-weight: bold;
font-family: "Times New Roman", Times, serif;
}

.book2{
    position: relative;  
    font-size: 1.5rem;
    left:30rem;
    top:-30.5rem;
    font-weight: bold;
    font-family: "Times New Roman", Times, serif;
    }

.book3{
    position: relative;  
    font-size: 1.5rem;
    left:55rem;
    top:-33rem;
    font-weight: bold;
    font-family: "Times New Roman", Times, serif;
        }  
.contact{
    position: relative;  
    font-size: 2rem;
    text-align: center;
    font-weight: bold;
    top:-31rem;
    font-family: "Times New Roman", Times, serif;
        }  
.mail{
    position: relative;  
    left:10rem;
    top:-29rem;
     }
.mail1{
        position: relative;
        font-size: 1.3rem; 
        left:16rem;
        top:-33.8rem;
        font-family: "Times New Roman", Times, serif;
         } 
.phone{
        position: relative;  
        left:30rem;
        top:-38rem;
}
.phone1{
    position: relative;
    font-size: 1.3rem; 
    left:35rem;
    top:-42.5rem;
    font-family: "Times New Roman", Times, serif;
     }   
.fb{
        position: relative;  
        left:45rem;
        top:-47rem;
}
.fb1{
position: relative;
font-size: 1.3rem; 
left:51rem;
top:-51rem;
font-family: "Times New Roman", Times, serif;
 }   
 
.add{
    position: relative;  
    font-size: 1.5rem;
    text-align: center;
    font-weight: bold;
    top:-47rem;
    font-family: "Times New Roman", Times, serif;
}